<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name = "hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name = "hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>

        <property name = "hibernate.connection.url">jdbc:mysql://localhost:3306/LEARN?useSSL=false</property>
        <property name = "hibernate.connection.username">webaroo</property>
        <property name = "hibernate.connection.password">webar00</property>
        
        <property name="connection.pool_size">1</property>
        <!--Echo all executed SQL to stdout-->
        <property name="show_sql">true</property>
        <!--Second level cache-->
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
        <!--model object to data definition / schema
        create - drop table and create schema on start up-->
        <property name="hbm2ddl.auto">create</property>
        <!--names the annotated entity class-->
        <!--<mapping class="com.shravan.learn.hibernate.model.UserDetails"/>-->

    </session-factory>
</hibernate-configuration>